
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
     max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
}
aside {
    background-color: #f4f5fc;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;;
}
aside li {
    margin: 10px 0;
    list-style: none;
}
aside h1 {
    color: #f4f5fc;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}
aside h2 {
    color: #f6f6f7;
    background-color: rgb(17, 17, 17);
    text-align: center;
}
.aside-left {
    margin-right: 0%;
    text-align: left;
    background-color: rgb(64, 89, 107);
}
.aside-right {
    margin-left: 0%;
    text-align: left;
    background-color: rgb(65, 223, 8)
}
.article1 {
    text-align: left;
}