body {
    font-family: Arial, sans-serif;
    background: #fafafb;
    margin: 1;
    padding: 2px;
}
h2 {
    text-align: center;
    color: #f4f5fc;
    margin-bottom: 20px;
    background-color: #09043e;
}
h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.photo-cv {
    width: 120px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 30px;
}

p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    background: rgba(172, 152, 136, 0.238);;
    text-align: center;
}
li {
    padding: 10px;
}
section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(172, 152, 136, 0.238);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}